<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viroyal.light.module.location.dao.SysAreaStreetMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.viroyal.light.module.location.entity.SysAreaStreet">
		<id column="id" property="id" />
		<result column="area_id" property="areaId" />
		<result column="street_id" property="streetId" />
	</resultMap>

	<!-- 更新区和街道关系 -->
	<update id="updateAreaStreet" parameterType="com.viroyal.light.module.location.entity.SysAreaStreet">
		update sys_area_street set area_id = #{areaId} where street_id = #{streetId}
	</update>
</mapper>
