<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viroyal.light.module.location.dao.SysAreaMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.viroyal.light.module.location.entity.SysArea">
		<id column="id" property="id" />
		<result column="area_name" property="areaName" />
		<result column="area_id" property="areaId" />
	</resultMap>


	<!-- 查询所有区 -->
	<select id="queryAll" resultMap="BaseResultMap">
		select * from sys_area
	</select>


	<!-- 获得城市下的的所有区 -->
	<select id="getAreaByCityId" parameterType="Long" resultMap="BaseResultMap">
		select * from sys_area as a
		LEFT JOIN sys_city_area as ca on ca.area_id = a.id
		where ca.city_id = #{cityId}
	</select>


	<!-- 添加区 -->
	<insert id="save" parameterType="com.viroyal.light.module.location.entity.SysArea"
			useGeneratedKeys="true" keyProperty="id">
		insert into sys_area
		(
		`id`,
		`area_name`,
		`area_id`
		)
		values
		(
		#{id},
		#{areaName},
		#{areaId}
		)
	</insert>

	<!-- 通过id更新区信息 -->
	<update id="update" parameterType="com.viroyal.light.module.location.entity.SysArea">
		update sys_area
		<set>
			<if test="areaName != null">`area_name` = #{areaName}, </if>
			<if test="areaId != null">`area_id` = #{areaId}  </if>
		</set>
		where id = #{id}
	</update>

	<!-- 删除区并且关联删除城市区域表中的关联字段 -->
	<delete id="deleteBatch">
		delete from sys_area where id in
		<foreach item="areaId" collection="array" open="(" separator="," close=")">
			#{areaId}
		</foreach>
		;
		delete from sys_city_area where area_id in
		<foreach item="areaId" collection="array" open="(" separator="," close=")">
			#{areaId}
		</foreach>
	</delete>
 </mapper>
