<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viroyal.light.module.location.dao.SysCityAreaMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.viroyal.light.module.location.entity.SysCityArea">
		<id column="id" property="id" />
		<result column="city_id" property="cityId" />
		<result column="area_id" property="areaId" />
	</resultMap>

	<!-- 更新城市和区关系 -->
	<update id="updateCityArea" parameterType="com.viroyal.light.module.location.entity.SysCityArea">
		update sys_city_area set city_id = #{cityId} where area_id = #{areaId}
	</update>
</mapper>
