<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viroyal.light.module.user.dao.SysPermissionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.viroyal.light.module.user.entity.SysPermission">
		<id column="id" property="id" />
		<result column="url" property="url" />
		<result column="name" property="name" />
		<result column="perms" property="perms" />
	</resultMap>

	<select id="getUserPermissions" parameterType="Long" resultType="com.viroyal.light.module.user.entity.SysPermission">
		select p.name from sys_permission p
		LEFT JOIN sys_role_permission as rp on p.id = rp.pid
		LEFT JOIN sys_user_role as ur on ur.rid = rp.rid
		where ur.uid = #{userId}
	</select>

	<select id="getAllPermission" resultMap="BaseResultMap">
		select * from sys_permission
	</select>

	<select id="queryWithCondition" resultMap="BaseResultMap">
		select DISTINCT p.id, p.`name`, p.perms from sys_permission as p
		left join sys_role_permission as rp on p.id = rp.pid
		left join sys_user_role as ur on ur.rid = rp.rid
		where 1 = 1
		<if test="userId != null"> and ur.uid = #{userId}</if>
		<if test="roleId != null"> and ur.rid = #{roleId}</if>
		<if test="permName != null"> and p.`name` like CONCAT('%', #{permName}, '%')</if>
		<if test="sort == 'asc' "> order by p.id asc </if>
		<if test="sort == 'desc' "> order by p.id desc </if>
	</select>

</mapper>
