<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viroyal.light.module.user.dao.SysRoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.viroyal.light.module.user.entity.SysRole">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="type" property="type" />
	</resultMap>

	<select id="getRoleListById" parameterType="Long" resultType="com.viroyal.light.module.user.entity.SysRole">
		select r.type from sys_role as r
		LEFT JOIN sys_user_role as ur on ur.rid = r.id
		where ur.uid = #{id}
	</select>


	<select id="getUserRoleName" parameterType="Long" resultType="string">
		select r.name from sys_role as r
		LEFT JOIN sys_user_role as ur on ur.rid = r.id
		where ur.uid = #{id}
	</select>

	<insert id="save" parameterType="com.viroyal.light.module.user.entity.SysRole"
			useGeneratedKeys="true" keyProperty="id">
		insert into sys_role (`id`, `name`, `type`,) values (#{id},#{name},#{type},)
	</insert>

	<update id="update" parameterType="com.viroyal.light.module.user.entity.SysRole">
		update sys_role
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="type != null">`type` = #{username}, </if>
		</set>
		where id = #{id}
	</update>

</mapper>
