<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viroyal.light.module.user.dao.SysUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.viroyal.light.module.user.entity.SysUser">
		<id column="id" property="id" />
		<result column="nickname" property="nickname" />
		<result column="username" property="username" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="pswd" property="pswd" />
		<result column="create_time" property="createTime" />
		<result column="last_login_time" property="lastLoginTime" />
		<result column="status" property="status" />
		<result column="create_name_id" property="createNameId" />
		<result column="last_update_time" property="lastUpdateTime" />
		<result column="last_update_name_id" property="lastUpdateNameId" />
	</resultMap>

	<select id="getAllUser" resultType="com.viroyal.light.module.user.entity.SysUser">
		select * from sys_user
	</select>

	<insert id="save" parameterType="com.viroyal.light.module.user.entity.SysUser"
			useGeneratedKeys="true" keyProperty="id">
		insert into sys_user
		(
		`id`,
		`nickname`,
		`username`,
		`pswd`,
		`phone`,
		`email`,
		`create_time`,
		`last_login_time`,
		`status`,
		`create_name_id`
		)
		values
		(
		#{id},
		#{nickname},
		#{username},
		#{pswd},
		#{phone},
		#{email},
		#{createTime},
		#{lastLoginTime},
		#{status},
		#{createNameId}
		)
	</insert>


	<!-- 查询用户的所有权限 -->
	<select id="queryAllPerms" resultType="string">
		select m.perms from sys_user_role ur
		LEFT JOIN sys_role_permission rm on ur.rid = rm.rid
		LEFT JOIN sys_permission p on p.id = p.id
		where ur.uid = #{userId}
	</select>

	<update id="update" parameterType="com.viroyal.light.module.user.entity.SysUser">
		update sys_user
		<set>
			<if test="nickname != null">`nickname` = #{nickname}, </if>
			<if test="username != null">`username` = #{username}, </if>
			<if test="pswd != null">`pswd` = #{pswd}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="email != null">`email` = #{email}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="lastUpdateNameId != null">`last_update_name_id` = #{lastUpdateNameId}, </if>
			<if test="lastUpdateTime != null">`last_update_time` = #{lastUpdateTime} </if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteBatch">
		delete from sys_user where id in
		<foreach item="userId" collection="array" open="(" separator="," close=")">
			#{userId}
		</foreach>
		;
		delete from sys_user_role where uid in
		<foreach item="userId" collection="array" open="(" separator="," close=")">
			#{userId}
		</foreach>
	</delete>
</mapper>
