<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viroyal.light.module.light.dao.SysBasicLightMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.viroyal.light.module.light.entity.SysBasicLight">
		<id column="id" property="id" />
		<result column="light_brand" property="lightBrand" />
		<result column="light_power" property="lightPower" />
		<result column="light_max_temperature" property="lightMaxTemperature" />
		<result column="light_min_temperature" property="lightMinTemperature" />
		<result column="light_max_voltage" property="lightMaxVoltage" />
		<result column="light_min_voltage" property="lightMinVoltage" />
		<result column="light_max_humidity" property="lightMaxHumidity" />
		<result column="light_min_humidity" property="lightMinHumidity" />
		<result column="light_life" property="lightLife" />
		<result column="light_max_current" property="lightMaxCurrent" />
		<result column="light_min_current" property="lightMinCurrent" />
		<result column="light_type" property="lightType" />
		<result column="light_color_max_temperature" property="lightColorMaxTemperature" />
		<result column="light_color_min_temperature" property="lightColorMinTemperature" />
		<result column="light_param_desc" property="lightParamDesc" />
		<result column="exist" property="exist" />
	</resultMap>

</mapper>
