<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viroyal.light.module.light.dao.SysBasicAlarmMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.viroyal.light.module.light.entity.SysBasicAlarm">
		<id column="id" property="id" />
		<result column="alarm_report_time" property="alarmReportTime" />
		<result column="alarm_max_voltage" property="alarmMaxVoltage" />
		<result column="alarm_min_voltage" property="alarmMinVoltage" />
		<result column="alarm_max_temperature" property="alarmMaxTemperature" />
		<result column="alarm_min_temperature" property="alarmMinTemperature" />
		<result column="alarm_max_current" property="alarmMaxCurrent" />
		<result column="alarm_min_current" property="alarmMinCurrent" />
		<result column="alarm_max_humidity" property="alarmMaxHumidity" />
		<result column="alarm_min_humidity" property="alarmMinHumidity" />
		<result column="alarm_max_brightness" property="alarmMaxBrightness" />
		<result column="alarm_min_brightness" property="alarmMinBrightness" />
		<result column="alarm_traffic" property="alarmTraffic" />
		<result column="alarm_name" property="alarmName" />
		<result column="exist" property="exist" />
	</resultMap>

	<select id="queryWithCondition" resultMap="BaseResultMap">
		select distinct ba.id, ba.alarm_report_time, ba.alarm_max_voltage,
		ba.alarm_min_voltage, ba.alarm_max_temperature, ba.alarm_min_temperature,
		ba.alarm_max_current, ba.alarm_min_current, ba.alarm_max_humidity,
		ba.alarm_min_humidity, ba.alarm_max_brightness, ba.alarm_min_brightness,
		ba.alarm_traffic, ba.alarm_name
		from sys_basic_alarm as ba
		where 1 = 1 and ba.exist = 1
		<if test="alarmReportTime != null">and ba.alarm_report_time = #{alarmReportTime} </if>
		<if test="alarmVoltage != null"> and <![CDATA[  #{alarmVoltage} >= ba.alarm_max_voltage or
			#{alarmVoltage} <= ba.alarm_min_voltage ]]></if>
		<if test="alarmTemperature != null"> and <![CDATA[  #{alarmTemperature} >= ba.alarm_max_temperature or
			#{alarmTemperature} <= ba.alarm_min_temperature ]]></if>
		<if test="alarmCurrent != null">  and <![CDATA[  #{alarmCurrent} >= ba.alarm_max_current or
			#{alarmCurrent} <= ba.alarm_min_current ]]> </if>
		<if test="alarmHumidity != null">  and <![CDATA[  #{alarmHumidity} >= ba.alarm_max_humidity or
			#{alarmHumidity} <= ba.alarm_min_humidity ]]> </if>
		<if test="alarmBrightness != null">  and <![CDATA[  #{alarmBrightness} >= ba.alarm_max_brightness or
			#{alarmBrightness} <= ba.alarm_min_brightness ]]> </if>
		<if test="alarmTraffic != null">and ba.alarm_traffic = #{alarmTraffic} </if>
		<if test="alarmName != null">and ba.alarm_name like CONCAT('%', #{alarmName}, '%') </if>
		<if test="sort == 'asc' "> order by ba.id asc</if>
		<if test="sort == 'desc' ">  order by ba.id desc</if>
	</select>

	<insert id="save" parameterType="com.viroyal.light.module.light.entity.SysBasicAlarm"
			useGeneratedKeys="true" keyProperty="id">
		insert into sys_basic_alarm
		(
		`id`,
		`alarm_report_time`,
		`alarm_max_voltage`,
		`alarm_min_voltage`,
		`alarm_max_temperature`,
		`alarm_min_temperature`,
		`alarm_max_current`,
		`alarm_min_current`,
		`alarm_max_humidity`,
		`alarm_min_humidity`,
		`alarm_max_brightness`,
		`alarm_min_brightness`,
		`alarm_traffic`,
		`alarm_name`
		)
		values
		(
		#{id},
		#{alarmReportTime},
		#{alarmMaxVoltage},
		#{alarmMinVoltage},
		#{alarmMaxTemperature},
		#{alarmMinTemperature},
		#{alarmMaxCurrent},
		#{alarmMinCurrent},
		#{alarmMaxHumidity},
		#{alarmMinHumidity},
		#{alarmMaxBrightness},
		#{alarmMinBrightness},
		#{alarmTraffic},
		#{alarmName}
		)
	</insert>

	<update id="update" parameterType="com.viroyal.light.module.light.entity.SysBasicAlarm">
		update sys_basic_alarm
		<set>
			<if test="alarmReportTime != null">`alarm_report_time` = #{alarmReportTime}, </if>
			<if test="alarmMaxVoltage != null">`alarm_max_voltage` = #{alarmMaxVoltage}, </if>
			<if test="alarmMinVoltage != null">`alarm_min_voltage` = #{alarmMinVoltage}, </if>
			<if test="alarmMaxTemperature != null">`alarm_max_temperature` = #{alarmMaxTemperature}, </if>
			<if test="alarmMinTemperature != null">`alarm_min_temperature` = #{alarmMinTemperature}, </if>
			<if test="alarmMaxCurrent != null">`alarm_max_current` = #{alarmMaxCurrent}, </if>
			<if test="alarmMinCurrent != null">`alarm_min_current` = #{alarmMinCurrent}, </if>
			<if test="alarmMaxHumidity != null">`alarm_max_humidity` = #{alarmMaxHumidity}, </if>
			<if test="alarmMinHumidity != null">`alarm_min_humidity` = #{alarmMinHumidity}, </if>
			<if test="alarmMaxBrightness != null">`alarm_max_brightness` = #{alarmMaxBrightness}, </if>
			<if test="alarmMinBrightness != null">`alarm_min_brightness` = #{alarmMinBrightness}, </if>
			<if test="alarmTraffic != null">`alarm_traffic` = #{alarmTraffic}, </if>
			<if test="alarmName != null">`alarm_name` = #{alarmName}</if>
		</set>
		where id = #{id}
	</update>

	<update id="deleteBatch">
		update sys_basic_alarm set exist = 0 where id in
		<foreach item="alarmId" collection="array" open="(" separator="," close=")">
			#{alarmId}
		</foreach>
		;
		update sys_light_info set alarm_id = 0 where alarm_id in
		<foreach item="alarmId" collection="array" open="(" separator="," close=")">
			#{alarmId}
		</foreach>
	</update>

</mapper>
