<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viroyal.light.module.light.dao.SysLightInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.viroyal.light.module.light.entity.SysLightInfo">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="light_info" property="lightInfo"/>
        <result column="status" property="status"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="user_id" property="userId"/>
        <result column="street_id" property="streetId"/>
        <result column="group_id" property="groupId"/>
        <result column="auto_report" property="autoReport"/>
        <result column="open_time" property="openTime"/>
        <result column="close_time" property="closeTime"/>
        <result column="strategy_open_time" property="strategyOpenTime"/>
        <result column="strategy_close_time" property="strategyCloseTime"/>
        <result column="exist" property="exist"/>
    </resultMap>


    <!-- 通过各种条件查询路灯 -->
    <select id="queryWithCondition" resultMap="BaseResultMap">
        select distinct i.id, i.code, i.`status`,i.auto_report,
        i.street_id,i.user_id,i.group_id,
        i.current_threshold, i.light_info, i.latitude,
        i.longitude, i.strategy_id,
        ls.open_time, ls.close_time, ls.strategy_open_time, ls.strategy_close_time
        from sys_light_info as i
        left join sys_light_strategy as ls on i.strategy_id = ls.id
        left join sys_user as us on us.id = i.user_id
        left join sys_region as r on r.common_region_id = i.street_id
        left join sys_region as sr on r.up_region_id = sr.common_region_id
        where 1 = 1 and i.exist = 1
        <if test="infoId != null">and i.id = #{infoId}</if>
        <if test="areaId != null">and r.up_region_id = #{areaId}</if>
        <if test="areaName != null">and sr.region_name like CONCAT(#{areaName}, '%')</if>
        <if test="cityId != null">and r.common_region_id like CONCAT(#{cityId}, '%') and r.region_desc = '街道'</if>
        <if test="streetId != null">and i.street_id = #{streetId}</if>
        <if test="streetName != null">and r.region_name like CONCAT(#{streetName}, '%')</if>
        <if test="userId != null">and i.user_id = #{userId}</if>
        <if test="userName != null">and us.nickname = #{userName}</if>
        <if test="groupId != null">and i.group_id = #{groupId}</if>
        <if test="code != null">and i.code like CONCAT('%', #{code}, '%')</if>
        <if test="status != null">and i.status = #{status}</if>
        <if test="longitude != null">and i.longitude = #{longitude}</if>
        <if test="latitude != null">and i.latitude = #{latitude}</if>
        <if test="strategyId != null">and i.strategy_id = #{strategyId}</if>
        <if test="sort == 'asc' ">order by i.id asc</if>
        <if test="sort == 'desc' ">order by i.id desc</if>
    </select>

    <!-- 添加路灯 -->
    <insert id="save" parameterType="com.viroyal.light.module.light.entity.SysLightInfo"
            useGeneratedKeys="true" keyProperty="id">
		insert into sys_light_info
		(
		`id`,
		`code`,
		`light_info`,
		`status`,
		`longitude`,
		`latitude`,
		`strategy_id`,
		`user_id`,
		`street_id`,
		`group_id`,
		`auto_report`
		)
		values
		(
		#{id},
		#{code},
		#{lightInfo},
		#{status},
		#{longitude},
		#{latitude},
		#{strategyId},
		#{userId},
		#{streetId},
		#{groupId},
		#{autoReport}
		)
	</insert>

    <!-- 更新路灯 -->
    <update id="update" parameterType="com.viroyal.light.module.light.entity.SysLightInfo">
        update sys_light_info
        <set>
            <if test="code != null">`code` = #{code},</if>
            <if test="lightInfo != null">`light_info` = #{lightInfo},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="longitude != null">`longitude` = #{longitude},</if>
            <if test="latitude != null">`latitude` = #{latitude},</if>
            <if test="strategyId != null">`strategy_id` = #{strategyId},</if>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="streetId != null">`street_id` = #{streetId},</if>
            <if test="groupId != null">`group_id` = #{groupId},</if>
            <if test="autoReport != null">`auto_report` = #{autoReport},</if>
        </set>
        where id = #{id}
    </update>

    <!-- 给多个路灯进行分组 -->
    <update id="updateBatch" parameterType="java.util.List">
        update sys_light_info set `group_id`=
        <foreach collection="list" item="item" index="index"
                 separator=" " open="case ID" close="end">
            when #{item.id} then #{item.groupId}
        </foreach>
        where id in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <!-- 清除所有路灯分组 -->
    <update id="updateGroupBatch" parameterType="Long">
        update sys_light_info set group_id = 0 where group_id = #{groupId}
    </update>

    <!-- 给指定街道的路灯添加策略-->
    <update id="updateBatchByStreet" parameterType="java.util.List">
        <foreach collection="list" separator=";" item="item">
            update sys_light_info set
            strategy_id = #{item.strategyId}
            where street_id = #{item.streetId}
        </foreach>
    </update>

    <update id="deleteBatch">
        update sys_light_info set exist = 0 where id in
        <foreach item="lightId" collection="array" open="(" separator="," close=")">
            #{lightId}
        </foreach>
        ;
        update sys_light set exist = 0 where info_id in
        <foreach item="lightId" collection="array" open="(" separator="," close=")">
            #{lightId}
        </foreach>
    </update>

    <!-- 给多个路灯添加策略 -->
    <update id="dispatchStrategy" parameterType="java.util.List">
        <foreach collection="list" separator=";" item="item">
            update sys_light_info set
            strategy_id = #{item.strategyId}
            where id = #{item.id}
        </foreach>
    </update>

</mapper>
