<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viroyal.light.module.light.mapper.SysLightGroupMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.viroyal.light.module.light.entity.SysLightGroup">
		<id column="id" property="id" />
		<result column="group_id" property="groupId" />
		<result column="group_name" property="groupName" />
		<result column="create_user_id" property="createUserId" />
		<result column="responsible_id" property="responsibleId" />
		<result column="create_time" property="createTime" />
		<result column="last_update_time" property="lastUpdateTime"/>
		<result column="last_update_user_id" property="lastUpdateUserId"/>
		<result column="exist" property="exist" />
	</resultMap>

	<select id="queryWithCondition" resultMap="BaseResultMap">
		select distinct  lg.id, lg.group_name, lg.create_user_id, lg.responsible_id, lg.create_time,
		lg.last_update_time, lg.last_update_user_id
		from sys_light_group as lg
		left join sys_light_info as info on info.group_id = lg.id
		where 1 = 1 and lg.exist = 1
		<if test="groupId != null">and lg.group_id = #{groupId} </if>
		<if test="groupName != null">and lg.group_name = #{groupName} </if>
		<if test="createUserId != null"> lg.create_user_id = #{createUserId} </if>
		<if test="responsibleId != null"> lg.responsible_id = #{responsibleId} </if>
		<if test="createStart != null"><![CDATA[ and DATE_FORMAT(lg.createTime, '%Y-%m-%d %H:%i:%s') >=  DATE_FORMAT(#{createStart}, '%Y-%m-%d %H:%i:%s')]]></if>
		<if test="createEnd != null"><![CDATA[ and DATE_FORMAT(lg.createTime, '%Y-%m-%d %H:%i:%s') <=  DATE_FORMAT(#{createEnd}, '%Y-%m-%d %H:%i:%s')]]></if>
	</select>

	<insert id="save" parameterType="com.viroyal.light.module.light.entity.SysLightGroup"
			useGeneratedKeys="true" keyProperty="id">
		insert into sys_light_group
		(
		`id`,
		`group_id`,
		`group_name`,
		`create_user_id`,
		`responsible_id`,
		`create_time`,
		`last_update_time`,
		`last_update_user_id`
		)
		values
		(
		#{id},
		#{groupId},
		#{groupName},
		#{createUserId},
		#{responsibleId},
		#{createTime},
		#{lastUpdateTime},
		#{lastUpdateUserId}
		)
	</insert>

	<update id="update" parameterType="com.viroyal.light.module.light.entity.SysLightGroup">
		update sys_light_group
		<set>
			<if test="groupId != null">`group_id` = #{groupId}, </if>
			<if test="groupName != null">`group_name` = #{groupName}, </if>
			<if test="createUserId != null">`create_user_id` = #{createUserId}, </if>
			<if test="responsibleId != null">`responsible_id` = #{responsibleId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="lastUpdateTime != null">`last_update_time` = #{lastUpdateTime}, </if>
			<if test="lastUpdateUserId != null">`last_update_user_id` = #{lastUpdateUserId} </if>
		</set>
		where id = #{id}
	</update>

	<update id="deleteBatch">
		update sys_light_record set exist = 0 where id in
		<foreach item="groupId" collection="array" open="(" separator="," close=")">
			#{groupId}
		</foreach>
		;
		update sys_light_info set group_id = 0 where group_id in
		<foreach item="groupId" collection="array" open="(" separator="," close=")">
			#{groupId}
		</foreach>
	</update>

</mapper>
