<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viroyal.light.module.light.dao.SysLightInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.viroyal.light.module.light.entity.SysLightInfo">
		<id column="id" property="id" />
		<result column="code" property="code" />
		<result column="info" property="info" />
		<result column="status" property="status" />
		<result column="longitude" property="longitude" />
		<result column="latitude" property="latitude" />
		<result column="street_id" property="streetId" />
		<result column="voltage_threshold" property="voltageThreshold" />
		<result column="current_threshold" property="currentThreshold" />
		<result column="temperature_threshold" property="temperatureThreshold" />
		<result column="humidity_threshold" property="humidityThreshold" />
		<result column="lightness_threshold" property="lightnessThreshold" />
		<result column="voltage_overload" property="voltageOverload" />
		<result column="current_overload" property="currentOverload" />
		<result column="temperature_overload" property="temperatureOverload" />
		<result column="humidity_overload" property="humidityOverload" />
		<result column="lightness_overload" property="lightnessOverload" />
	</resultMap>

</mapper>
