<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viroyal.light.module.light.dao.SysLightMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.viroyal.light.module.light.entity.SysLight">
		<id column="id" property="id" />
		<result column="status" property="status" />
		<result column="voltage" property="voltage" />
		<result column="current" property="current" />
		<result column="traffic_flow" property="trafficFlow" />
		<result column="temperature" property="temperature" />
		<result column="humidity" property="humidity" />
		<result column="autoreport" property="autoreport" />
		<result column="datetime" property="datetime" />
		<result column="infoId" property="info_id" />
		<result column="lightness" property="lightness" />
		<result column="exist" property="exist" />
	</resultMap>

	<select id="queryAll" resultMap="BaseResultMap">
		select * from sys_light where exist = 1
	</select>

	<select id="queryWithCondition" resultMap="BaseResultMap">
		select * from sys_light as light
		where 1 = 1 and light.flag = 1
		<if test="status != null"> and light.`status` = #{status}</if>
		<if test="voltageGt != null"> and light.`status` = #{status}</if>
	</select>

	<insert id="save" parameterType="com.viroyal.light.module.light.entity.SysLight"
			useGeneratedKeys="true" keyProperty="id">
		insert into sys_light
		(
		`id`,
		`status`,
		`voltage`,
		`current`,
		`traffic_flow`,
		`temperature`,
		`humidity`,
		`autoreport`,
		`info_id`,
		`lightness`
		)
		values
		(
		#{id},
		#{status},
		#{voltage},
		#{current},
		#{traffic_flow},
		#{temperature},
		#{humidity},
		#{autoreport},
		#{info_id},
		#{lightness}
		)
	</insert>

	<!-- 更新用户 -->
	<update id="update" parameterType="com.viroyal.light.module.user.entity.SysUser">
		update sys_light
		<set>
			<if test="status != null">`status` = #{status}, </if>
			<if test="voltage != null">`voltage` = #{voltage}, </if>
			<if test="current != null">`current` = #{current}, </if>
			<if test="trafficFlow != null">`traffic_flow` = #{trafficFlow}, </if>
			<if test="temperature != null">`temperature` = #{temperature}, </if>
			<if test="humidity != null">`humidity` = #{humidity}, </if>
			<if test="autoreport != null">`autoreport` = #{autoreport}, </if>
			<if test="infoId != null">`info_id` = #{infoId}, </if>
			<if test="lightness != null">`lightness` = #{lightness} </if>
		</set>
		where id = #{id}
	</update>

	<update id="deleteBatch">
		update sys_light set flag = 0 where id in
		<foreach item="lightId" collection="array" open="(" separator="," close=")">
			#{lightId}
		</foreach>
	</update>

</mapper>
